<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CodeCop" version="3.2.1" targetFramework="net461" />
  <package id="Fody" version="1.29.4" targetFramework="net461" developmentDependency="true" />
  <package id="NSubstitute" version="1.9.2.0" targetFramework="net461" />
  <package id="NUnit" version="2.6.4" targetFramework="net461" />
</packages>